:root {
  --color: #e554c2;
  --text-color: black;
  --font-family: "Heebo", sans-serif;
}
h1,
h2,
h3,
h4,
body,
div,
a {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color);
}
button {
  width: 60%;
  font-family: var(--font-family);
}
h1 {
  color: var(--color);
}
