.main {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media screen and (min-width: 430px) {
  .main {
    width: 400px;
  }
}
