.question .numberQ {
  font-weight: 400;
}

.weHere {
  margin-top: 54px;
}

.question {
  font-size: 1.2rem;
}
.question > p {
  height: 50px;
}
.vxButtons {
  display: flex;
  justify-content: center;
  gap: 22.5px;
}
