nav {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav img {
  transition: ease-in-out 0.2s;
}
nav img:hover {
  scale: 1.2;
  cursor: pointer;
}
nav > span {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
