nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 90px;
}
nav img {
  transition: ease-in-out 0.2s;
}
nav img:hover,
nav p:hover {
  scale: 1.2;
  cursor: pointer;
}
nav a > img {
  width: 130%;
}
