.enter-page-head {
  display: flex;
}
.enter-page-head > img {
  width: 45%;
}
.enter-page {
  padding: 7% 5% 5% 5%;
  background-image: url("C:\Users\shmuel\Desktop\projects\Hackathon\client\src\assets\elipse.png");
  background-repeat: no-repeat;
}
