h1 {
  color: var(--color);
  font-size: 40px;
  font-weight: 500;
  line-height: 59px;
  text-align: center;
}

h2{
  font-size: 40px;
  font-weight: 500;
  line-height: 59px;
  text-align: center;
}