:root {
  --color: #e554c2;
  --text-color: black;
  --font-family: "Heebo", sans-serif;
  --hover-button: #e2a4d3;
}

h4,
body,
div,
a {
  margin: 0;
}

body {
  color: var(--text-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background-color: #ebc9e3;
}

button {
  width: 65%;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  gap: 30px;
  width: 90%;
}

.none {
  display: none;
}

.block {
  display: block;
}

@media screen and (max-width: 500px) {
  body {
    background-color: white;
    align-items: flex-start;
  }

  h1,
  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
  }

  .main {
    width: 100vw;
  }
}

@media screen and (min-width: 700px) {
  .main {
    overflow: auto;
    width: 500px;
    justify-content: flex-start;
  }

  .main::-webkit-scrollbar {
    display: none;
  }
}